<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {% include head-custom.html %}
  </head>
  <body>
    <div id="navbar" class="navbar">
      <nav>
        <ul>
          <div class="nav-items">
              {% for element in site.data.navigation %}
              <li {% if page.url == element.link %} class="active" {% endif %}>
                <a class="nav-link"  href="{{element.link}}">{{element.name}}</a>
              </li>
              {% endfor %}
            </div>
            </ul>
      </nav>
      </div>
    <div class="wrapper">
      
      <section>
        <div id="title">
          {{ content }} 
          <hr>
          <span class="credits left">Project maintained by <a href="https://github.com/omar6635" target="_blank">omar6635</a></span>
          <span class="credits right">Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/mattgraham">mattgraham</a></span>
        </div>

        

      </section>

    </div>

    <script>
      window.onscroll = function() {scrollFuntion()}; // window refers to the html document itself
      
      var header = document.getElementById("navbar");
      var sticky = header.offsetTop; // returns top position relative to offsetParent element
      
      function scrollFuntion(){
        if (window.pageYOffset > sticky){ // The pageXOffset and pageYOffset properties returns the pixels the current document has been scrolled from the upper left corner of the window, horizontally and vertically.
          header.classList.add("sticky");
        } else {
          header.classList.remove("sticky");
        }
      }
      </script>
  </body>
</html>